@page "/AdBrixCommerceEvent"
<h1>AdbrixCommerceEvent</h1>
<p></p>
<p></p>
<table class="table-auto border-collapse border border-black">
    <thead>
    <th>CommerceProperty</th>
    <th>product_1</th>
    <th>product_2</th>
    <th>product_3</th>
    </thead>
</table>

@code {
    
}