@page "/adbrixtestevent"
@inject IJSRuntime JSRuntime

<h1>AdBrix Sample Event</h1>
<br>
<table class="table">
    <thead>
    <th>EventName</th>
    <th>Parameter</th>
    <th>ExcuteButton</th>
    </thead>
    <tr>
        <th>Login</th>
        <th><input @bind="LoginId" placeholder="Enter your ID" /></th>
        <th><button class="btn btn-primary" @onclick="Login"> ClickMe </button></th>
    </tr>
    <tr>
        <th>UserProperty</th>
        <th>
            <label>Age :&nbsp;&nbsp;&nbsp;</label><input placeholder="age" @bind="Age" />
            <p></p>
            <label>Married? :&nbsp;&nbsp;&nbsp;</label><input type="checkbox" @bind="Married" />
            <p></p>
            <label>Real Name :&nbsp;&nbsp;&nbsp;</label><input placeholder="Real Name" @bind="RealName" />
        </th>
        <th><button class="btn btn-primary" @onclick="UserProperty">ClickMe</button></th>
    </tr>
    <tr>
        <th>SignUp</th>
        <th>
            <label for="SignUpChannel">SignUp Channel : &nbsp;&nbsp;&nbsp;</label><select @bind="SignChannelName">
                <option value="Kakao">Kakao</option>
                <option value="Naver">Naver</option>
                <option value="Line">Line</option>
                <option value="Google">Google</option>
                <option value="Facebook">Facebook</option>
                <option value="Twitter">Twitter</option>
                <option value="whatsApp">WhatsApp</option>
                <option value="QQ">QQ</option>
                <option value="WeChat">WeChat</option>
                <option value="UserId">User ID</option>
                <option value="ETC">ETC</option>
                <option value="SkTid">SkTid</option>
                <option value="AppleId">Apple Id</option>
                <option value="BlahBlah">BlahBlah Channel</option>
            </select>
        </th>
        <th><button class="btn btn-primary" @onclick="SignUpChannel">ClickMe</button></th>
    </tr>
    <tr>
        <th>Invite</th>
        <th>
            <label for="UserInvite">Invite Channel : &nbsp;&nbsp;&nbsp;</label><select @bind="InviteChannelName">
                <option value="Kakao">Kakao</option>
                <option value="Naver">Naver</option>
                <option value="Line">Line</option>
                <option value="Google">Google</option>
                <option value="Facebook">Facebook</option>
                <option value="Twitter">Twitter</option>
                <option value="whatsApp">WhatsApp</option>
                <option value="QQ">QQ</option>
                <option value="WeChat">WeChat</option>
                <option value="UserId">User ID</option>
                <option value="ETC">ETC</option>
                <option value="SkTid">SkTid</option>
                <option value="AppleId">Apple Id</option>
                <option value="BlahBlah">BlahBlah Channel</option>
            </select>
        </th>
        <th><button class="btn btn-primary" @onclick="UserInvite">ClickMe</button></th>
    </tr>
    <tr>
        <th>Custom Event</th>
        <th>
            <label>Custom Event Name :&nbsp;&nbsp;&nbsp;</label><input placeholder="Custom Event Name" @bind="EventName" />
            <p></p>
            <label>Int Parameter :&nbsp;&nbsp;&nbsp;</label><input placeholder="Int Parameter Name" @bind="IntParameterName" />&nbsp;&nbsp;&nbsp;<input placeholder="Int Value" @bind="IntParameterValue" />
            <p></p>
            <label>Bool Parameter :&nbsp;&nbsp;&nbsp;</label><input placeholder="Bool Parameter Name" @bind="BoolParameterName" />&nbsp;&nbsp;&nbsp;<input type="checkbox" @bind="BoolParameterValue" />
            <p></p>
            <label>String Parameter :&nbsp;&nbsp;&nbsp;</label><input placeholder="String Parameter Name" @bind="StringParameterName" />&nbsp;&nbsp;&nbsp;<input placeholder="String Value" @bind="StringParameterValue" />
        </th>
        <th><button class="btn btn-primary" @onclick="CustomEvent">ClickMe</button></th>
    </tr>
    <tr>
        <th>Use Credit</th>
        <th>
            <label>Amount of Credit :&nbsp;&nbsp;&nbsp;</label> <input placeholder="CreditAmmount" @bind="CreditAmmount" />
        </th>
        <th><button class="btn btn-primary" @onclick="UseCredit">ClickMe</button></th>
    </tr>
</table>
<br>
<h1>AdBrix Event Utility</h1>
<table>
    <tr>
        <th>
            <button class="btn btn-primary" @onclick="Logout">Logout</button>
        </th>
        <th>
            <button class="btn btn-primary" @onclick="GetUserID">GetCurrentUserID</button>
        </th>
        <th>
            <button class="btn btn-primary" @onclick="GetUserInfo">GetAlltUserInfo</button>
        </th>
    </tr>

</table>
<table>
    <tr>
        <th>
            <label>Found Value of UserProperty Key :&nbsp;&nbsp;&nbsp;</label><input placeholder="UserPropertyKey" @bind="UserPropertyKey" />&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" @onclick="GetUserPropertyKeyValue">GetUserPropertyKeyValue</button>
        </th>
    </tr>
</table>


@code
{

    private string LoginId { get; set; }
    private int Age { get; set; }
    private bool Married { get; set; }
    private string RealName { get; set; }

    private string IntParameterName { get; set; }
    private string StringParameterName { get; set; }
    private string BoolParameterName { get; set; }

    private string EventName { get; set; }
    private int IntParameterValue { get; set; }
    private bool BoolParameterValue { get; set; }
    private string StringParameterValue { get; set; }

    private string CurrentUserID;

    private string SignChannelName = "Kakao";
    private string InviteChannelName = "Kakao";

    private int CreditAmmount { get; set; }

    private string UserPropertyKey { get; set; }


    private void Login()
    {

        if (LoginId != null)
        {
            JSRuntime.InvokeVoidAsync("adbrix.login", LoginId);
            JSRuntime.InvokeVoidAsync("alert", ":::Login Event Complete::: " + "UserID : " + LoginId);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("alert", "UserID 가 입력되지 않았습니다.");
        }
    }

    private void UserProperty()
    {

        JSRuntime.InvokeVoidAsync("adbrix.userProperty.addOrUpdate", "age", Age);
        JSRuntime.InvokeVoidAsync("adbrix.userProperty.addOrUpdate", "married", Married);
        JSRuntime.InvokeVoidAsync("adbrix.userProperty.addOrUpdate", "realname", RealName);
        JSRuntime.InvokeVoidAsync("alert", "UserPropertyUpdate");
    }

    private void SignUpChannel()
    {
        if (SignChannelName == "BlahBlah")
        {
            JSRuntime.InvokeVoidAsync("alert", "This Channel Cannot be Sent to Adbrix" + "ChannelName : " + SignChannelName);

        } else

        {
            JSRuntime.InvokeVoidAsync("adbrix.common.signUp", SignChannelName);
            JSRuntime.InvokeVoidAsync("alert", "SignUp Complete " + "SignUp Channel : " + SignChannelName);

        }

    }

    private void UserInvite()
    {
        if (InviteChannelName == "BlahBlah")
        {
            JSRuntime.InvokeVoidAsync("alert", "This Channel Cannot be Sent to Adbrix" + "ChannelName : " + InviteChannelName);

        }
        else

        {
            JSRuntime.InvokeVoidAsync("adbrix.common.invite", InviteChannelName, LoginId);
            JSRuntime.InvokeVoidAsync("alert", "Invite Complete " + "Invite Channel : " + InviteChannelName);

        }

    }

    private void CustomEvent()
    {

        Dictionary<string, object> myDic = new Dictionary<string, object>();
        myDic.Add(IntParameterName, IntParameterValue);
        myDic.Add(BoolParameterName, BoolParameterValue);
        myDic.Add(StringParameterName, StringParameterValue);

        JSRuntime.InvokeVoidAsync("adbrix.event.send", EventName, myDic);

        JSRuntime.InvokeVoidAsync("alert", "Custom Event has been Send " + "Event Name : " + EventName);

    }

    private void UseCredit()
    {
        if (CreditAmmount != 0)
        {

            JSRuntime.InvokeVoidAsync("adbrix.common.useCredit", CreditAmmount);

            JSRuntime.InvokeVoidAsync("alert", "Credit Used " + "Ammount Credit : " + CreditAmmount);
        } else
        {
            JSRuntime.InvokeVoidAsync("alert", "No Credit Has been Used");

        }


    }

    private void Logout()
    {
        JSRuntime.InvokeVoidAsync("adbrix.logout");
        JSRuntime.InvokeVoidAsync("alert", "LogOut Complete");
    }

    private async Task GetUserID()
    {
        CurrentUserID = await JSRuntime.InvokeAsync<string>("adbrix.getUserId");

        if (CurrentUserID != null)
        {
            await JSRuntime.InvokeVoidAsync("alert", "::: Current UserID ::: " + "UserID : " + CurrentUserID);
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "There is No UserID");
        }

    }

    private async Task GetUserInfo()
    {

        object CurrentUserInfo = await JSRuntime.InvokeAsync<object>("adbrix.userProperty.getAll");

        if (CurrentUserInfo != null)
        {

            await JSRuntime.InvokeVoidAsync("alert", "::: Current UserInfo ::: " + CurrentUserInfo);

        }
    }

    private async Task GetUserPropertyKeyValue()
    {
        object getUserPropertyValue = await JSRuntime.InvokeAsync<object>("adbrix.userProperty.get", UserPropertyKey);

        await JSRuntime.InvokeVoidAsync("alert", "value is :::" + getUserPropertyValue);
    }

}